@import 'https://fonts.googleapis.com/css?family=Bungee';
@import 'https://fonts.googleapis.com/css?family=Anonymous+Pro';
@import 'https://fonts.googleapis.com/css?family=Oswald';

body{
  color: #00004d;
  font-family: 'Anonymous Pro', monospace;
}

h1{
  font-family: 'Bungee', cursive;
  font-size: 70px;
  font-weight:700;
  font-kerning: normal;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 15%;
}


p{
  font-size: 20px;
}
textarea{
  margin-top: 30px;
  resize: none;
  color:#00004d;
  font-family: 'Anonymous Pro', monospace;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  width: 33%;
  height: 30px;
  margin-left: 33%;
  border-radius: 20px;
  border-width: medium;
  border-color: #00004d;

}

textarea:focus{
  outline:0px !important;
  -webkit-appearance:none;
}

.options{
  width: 60%;
  margin-left: 15%;
}

.footer{
  color: #f2f2f2;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: 65%;
  font-size: 25px;
}
#app{
  width: 600px;
  height: 800px;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0px;

}

article{
  width: 60%;
  margin-left: 15%;
}

#time{
  color: #80aaff;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  padding: 20px;

}

#userimage{
  background-color: red;
  width: 20%;
  margin-left: 40%;
  height: 120px;
  border-radius: 10px;
}

#uinfo{
  width: 60%;
  margin-left: 15%;


}

#uname{
  text-align: center;
  font-size: 30px;

}
